/*component specific styles*/

.Button {
background-color: #1ee671;
}

.Main {
  text-align: center;
}

.Main-logo {
  animation: Main-logo-spin infinite 20s linear;
  height: 80px;
}

.Main-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Main-title {
  font-size: 1.5em;
}

.Main-intro {
  font-size: large;
}

@keyframes Main-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Navbar {
  height: 50px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
  font-family: "Helvetica Neue",HelveticaNeue,"TeX Gyre Heros",TeXGyreHeros,FreeSans,"Nimbus Sans L","Liberation Sans",Arimo,Helvetica,Arial,sans-serif;
}

.Navbar .navbar-brand {
  font-size: 30px;
}

.Navbar .Login a {
  color: #1c92d2;
  font-size: 15px;
}

.Navbar .Signup a {
  color: #1ee671;
  font-size: 15px;  
}

.Herowrapper {
  background-image: linear-gradient(#1c92d2, white);
  height: 320px;
}

.Faqwrapper {
  background-color: #1c92d2;
  height: 1050px;
}

.Tryitwrapper {
  height: 300px;
}

.Footer {
  height: 250px;
  text-align: left;
}

.Chatwizard {
  min-height: 200px;
}

.Questionwrapper {
  border: 1px solid black;
  width: 300px;
  margin: auto;
  padding: 15px;
}

.Question {
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 10px;
}

.Question input {
  margin-bottom: 10px;
}






