/*component specific styles*/
/*color variables
#4E0250 //dark purple
#801A86 //bright purple
#cdc8db //super light purple 
#8FE388 //light bright green
#58BC82 //medium green
*/


.buttonstyle a {
  background-color: #8FE388;
  color: white;
  letter-spacing: .25px;
  text-align: center;
  font-weight: 400;
  display: inline-block;
  cursor: pointer;
  padding: .5em 32px;
  font-size: 18px;
  border-radius: 3px;
  max-height: 50px;
  min-height: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.main {
  text-align: center;
}

.navbar {
  max-height: 75px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.2);
  font-family: "Helvetica Neue",HelveticaNeue,"TeX Gyre Heros",TeXGyreHeros,FreeSans,"Nimbus Sans L","Liberation Sans",Arimo,Helvetica,Arial,sans-serif;
}

.navbar .navbar-brand {
  font-size: 30px;
}

.login a {
  color: #58BC82;
  font-size: 15px;
}

.signup.nav-item {
  border-radius: 3px;
  color: #fff;
  padding: .2em 1em .3em;
  margin-left: 1em;
}
.signup a {
  background-color: #58BC82;
  color: white;
  font-size: 15px;  
  border-radius: 3px;
  padding: .5em 1em;
}

.herowrapper {
  background-image: linear-gradient(white,#4E0250);
  max-height: 320px;
  padding: 20px;
}

.faqwrapper {
  background-color: #4E0250;
  max-height: 320px;
  padding: 20px;
}

.tryitnowwrapper {
  max-height: 520px;
  padding: 20px;
}

.footer {
  max-height: 150px;
  padding: 20px;
}

.chatwizard {
  min-max-height: 200px;
}

.questionwrapper {
  border: 1px solid black;
  width: 300px;
  margin: auto;
  padding: 15px;
}

.question {
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 10px;
}

.question input {
  margin-bottom: 10px;
}






